<div style="text-align:center">
  <h1>Welcome to the E-commerce Store!</h1>
</div>
<nav>
  <a mat-button routerLink="/cart" *ngIf="authService.getCurrentUser() !== 'admin' && authService.isAuthenticated()"
    routerLinkActive="active">Cart</a>
  <a mat-button routerLink="/checkout" *ngIf="authService.getCurrentUser() !== 'admin' && authService.isAuthenticated()"
    routerLinkActive="active">Checkout</a>
  <a mat-button routerLink="/login" *ngIf="!authService.isAuthenticated()" routerLinkActive="active">Login</a>
  <a mat-button routerLink="/register" *ngIf="!authService.isAuthenticated()" routerLinkActive="active">Register</a>
  <a mat-button *ngIf="authService.isAuthenticated()" mat-button (click)="logout()">Logout</a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>